body {
    margin: 0;
    padding: 0;
    background-color:black; 
    background-size: cover;
    background-position: inherit;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navigation {
    margin-left: 0px;
    margin-top: 0px;
    display: block;
    width: auto;
    background: #ECECE0;
    font: #fff;
    padding: 4px;
    word-spacing: 10px;
}

.Login{
    width: 320px;
    height: 420px;
    background: transparent;
    color: #fff;
    top: 50%;
    left: 25%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 60px 0px;
}

.avatar{
    width: 100px;
    height:100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    background: #000;
}

.h1{
    margin: 0;
    padding: 10px 0 20px;
    text-align: left;
    font-size: 22px;
}

.Login p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.Login input{
    width: 100%;
    margin-bottom: 20px;
}
.Login button{
    width: 100%;
    margin-bottom: 20px;
}

.Login input[type="email"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.Login button[type="submit"] {
    border: none;
    background:#808080;
    outline: none;
    height: 60px;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.Login button[type="submit"]:hover{
    cursor: pointer;
    background: #4cff00;
    color: #000;
}

.Login a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}


.Login a:hover{
    color: #0026ff;
}